h1{
  color: blue;
}
div{
  margin-bottom: 20px;
}
.hyota{
   margin: auto;
   display: grid;

   grid-gap: 50px;

    align-items: center;
    justify-content: center;
  

   
  
   

}
.btn {
  padding: 10px 20px;
  background-color: rgb(231, 81, 119);
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: dodgerblue;
  transform: scale(1.05);
}
.bton{
  padding: 10px 20px;
  background-color: rgb(65, 225, 145);
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.5s ease, transform 0.4s ease;


}
.bton:hover{
  background-color: orange;
  
  transform: scale(1.05);
}
.mepe{
   border:2px solid rgb(141, 52, 173);

   border-radius:10px;
}
.peme{
  border:2px solid rgb(141, 52, 173);

  border-radius:10px;
}
  


